body {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  background: yellow;
}
p {
  border: 2px solid black;
  padding: 15px;
  color: red;
  columns: 2;
  text-align: justify;
}
.important {
  color: black;
  font-size: 18px;
  columns: 1;
}

p img {
  width: 150px;
  float: left;
  margin: 0 20px 10px 0;
}
h1 + img {
  width: 100%;
}
p + img {
  display: none;
}

.important:hover {
  background: black;
  color: white;
}
.parent {
  width: 100%;
  height: 400px;
}
.enfant1 {
  background: url(images/iphone11x.jpg);
  height: 400px;
  width: 50%;
  float: left;
  background-size: cover;
}
.enfant2 {
  height: 400px;
  width: 50%;
  float: right;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.enfant1 img {
  width: 90%;
}
