* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: rgb(247, 236, 236);
}
header {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 4;
}
.sl {
  width: 1200px;
  height: 500px;
  margin: 10px auto;
}
#banner {
  background: rgb(15, 14, 14);
  position: relative;
  display: flex;
  margin-top: 60px;
}
#about {
  height: auto;
}

#info {
  color: white;
  width: 500px;
  text-align: center;
  margin: auto;
  font-size: 1.5em;
}

#banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.col {
  width: 50%;
  height: 400px;
  float: left;
}

#mot {
  text-align: center;
  display: flex;
  background: rgb(246, 243, 243);
}
.shad {
  box-shadow: 1px 1px 4px black;
}
#tof {
  background: rgb(255, 255, 255);
  color: rgb(187, 177, 177);
}
#tof img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#mot img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#m {
  margin: auto;
  width: 90%;
}
.catalogue {
  min-height: 600px;
  width: 1200px;
  margin: auto;
  background: white;
  padding: 20px;
}
.produit {
  width: 33.33%;
  height: 400px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 16px;
}
.tof_produit {
  width: 100%;
  height: 300px;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
}
.info_produit {
  width: 90%;
  height: 100px;
  margin: auto;
  text-align: center;
  line-height: 30px;
  color: grey;
  box-shadow: 1px 1px 4px black;
  position: relative;
  top: 8px;
}

.tof_produit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 1px 1px 6px black;
}
.n {
  clear: both;
}

section + h2 {
  background: rgb(243, 238, 238);
  text-align: center;
  padding: 20px;
  margin: 16px auto;
  width: 1200px;
}
